body{
background:
url(https://unsplash.com/photos/2lRjxDRqMjc;
background-repeat:norepeat;
background-size:cover;

}
.container.jumbotron{
margin-top:200 px;
background:orange;
color:white;
font-family:'meriweather',serif;

}
thead,th{
border:2px solid red;
font-size:30px;
color:blue;
margin:auto;
background:yellow;
}
h1{
text-align:center;
}
